<div>
  <h1 class="text-center py-5 m-0">Supported resources</h1>
</div>

<!-- Supported resources start -->
<section>
  <div class="container pb-5">
    <div class="row supported-res-row">
      <div class="col-lg-2 col-md-4 col-sm-6 supported-res">
        <a href="/instagram">
          <img src="/static/images/instagram.svg" class="social-icon-image-index" />
          <p>Instagram</p>
        </a>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 supported-res">
        <a href="/youtube"><img src="/static/images/youtube.svg" class="social-icon-image-index" /><p>YouTube</p></a>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 supported-res">
        <a href="/facebook"><img src="/static/images/facebook.svg" class="social-icon-image-index" /><p>Facebook</p></a>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 supported-res">
        <a href="/twitter"><img src="/static/images/x-social-media-logo-icon.svg" class="social-icon-image-index" /><p>Twitter</p></a>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 supported-res">
        <a href="/snapchat"><img src="/static/images/snapchat-square-color-icon.svg" class="social-icon-image-index" /><p>Snapchat</p></a>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 supported-res">
        <a href="/linkedin"><img src="/static/images/icons8-linkedin.svg" class="social-icon-image-index" /><p>Linkedin</p></a>
      </div>
    </div>
  </div>
</section>
<!-- Supported resources end -->
<!-- playstore start -->
<section class="py-2 dark-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-8 align-self-center">
        <div>
          <h2 class="text-light"><span>SITS DOWNLOADER</span> API Service</h2>
          <p class="text-light pt-4">
            SITS Downloader offers two main API endpoints for streamlined media management. The first endpoint displays all available media formats, while the second allows for downloading the selected media file. For more information or support, contact us at <span><a href="mailto:sits@softechure.com" class="sits_email">sits@softechure.com</a></span>
          </p>
        </div>
      </div>
      <div class="col-md-4 mt-3 text-center">
        <img src="/static/images/mobile-app.png" alt="img-fluid" class="w-100" />
      </div>
    </div>
  </div>
</section>
<!-- playstore End -->

<!-- FAQs Accordian start -->
<div>
  <h1 class="text-center pt-5">SITS DOWNLOADER FAQs</h1>
</div>
<section>
  <div class="accordian-section pb-5">
    <div class="accordion" id="accordiFourxample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><p class="p-faq">What quality is available for download?</p></button></h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>
              <strong>SITS DOWNLOADER</strong>video download service searches and shows all possible options, which means these are the highest possible quality of the source file. If the the required quality is not available for this video, this means that the file is available only in that quality and there are no other options.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><p class="p-faq">How do I use the API to view and download media files?</p></button></h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>To use the SITS Downloader API:</p>
            <ol>
              <li>
                <strong>View Available Media Formats:</strong> Use the first API endpoint to retrieve a list of all available media formats. This will provide details such as format type, quality, and size, helping you choose the most suitable option.
              </li>
              <li>
                <strong>Download the Selected Media File:</strong> Once you have selected the desired media format, use the second API endpoint to initiate the download of the file directly.
              </li>
            </ol>
            <p>
              For detailed documentation and examples, please refer to the API documentation or contact us at
              <a href="mailto:sits@softechure.com">sits@softechure.com</a>.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><p class="p-faq">How do I download videos from Instagram, YouTube, Facebook ?</p></button></h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">Simply paste the video URL from the platform into the downloader, select the desired video and audio format or quality, and click the download Format button.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"><p class="p-faq">Can I choose the quality of the video before downloading?</p></button></h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
          <div class="accordion-body">Yes, our downloader displays multiple quality options (like 1080p, 720p, 480p, etc.) for you to choose from before downloading the video.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingfive"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive"><p class="p-faq">Is it possible to download only the audio from a video?</p></button></h2>
        <div id="collapsefive" class="accordion-collapse collapse" aria-labelledby="headingfive" data-bs-parent="#accordiFourxample">
          <div class="accordion-body">Yes, you can select the audio-only option to download just the audio track from any video.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix"><p class="p-faq">Do I need to install any software or extensions to use the downloader?</p></button></h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordiFourxample">
          <div class="accordion-body">No installation is required. The downloader works directly from your browser, making it easy and accessible.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingSeven"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven"><p class="p-faq">Are the downloads safe and secure?</p></button></h2>
        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
          <div class="accordion-body">Yes, all downloads are secure, and we do not store any user data or downloaded files.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingEight"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight"><p class="p-faq">Is there a limit to the number of videos I can download?</p></button></h2>
        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
          <div class="accordion-body">There is no limit on the number of downloads. You can download as many videos as you want.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingNine"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine"><p class="p-faq">Can I download videos from private accounts or profiles?</p></button></h2>
        <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
          <div class="accordion-body">No, our downloader only supports videos that are publicly accessible. Private videos cannot be downloaded due to privacy restrictions.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTen"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen"><p class="p-faq">What should I do if the video does not download or fails to play?</p></button></h2>
        <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
          <div class="accordion-body">Ensure you have a stable internet connection, and try re-downloading the video. If the issue persists, contact our support team for assistance.</div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- FAQs Accordian end -->

<footer class="footer">
  <section class="py-4 py-md-5 py-xl-8 border-top border-light">
    <div class="container overflow-hidden">
      <div class="row gy-4 gy-lg-0 justify-content-xl-between">
        <div class="col-12 col-md-6 col-lg-4 col-xl-4">
          <div class="widget">
            <h4 class="widget-title mb-4">Product</h4>
            <ul class="list-unstyled">
              <li class="mb-2">
                <a href="/" target="_blank">SITS PDF</a>
              </li>
              <li class="mb-2">
                <a href="https://www.website4test.com/editor/" target="_blank">SITS Editor</a>
              </li>
              <li class="mb-2">
                <a href="https://softechure.com/" target="_blank">SOFTECHURE</a>
              </li>
              <li class="mb-2">
                <a href="/" target="_blank">SITS Audio Video Downloader</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-4">
          <div class="widget">
            <h4 class="widget-title mb-4">Company</h4>
            <ul class="list-unstyled">
              <li class="mb-2">
                <a href="https://softechure.com/aboutus.php" target="_blank">About Us</a>
              </li>
              <li class="mb-2">
                <a href="https://softechure.com/contactus.php" target="_blank">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-4">
          <div class="widget">
            <h4 class="widget-title mb-4">Social With Us</h4>
            <ul class="d-flex gap-3 list-unstyled mb-2">
              <li>
                <a title="facebook" href="https://www.facebook.com/softechure"><i class="fa-brands fa-facebook white-color"></i></a>
              </li>
              <li>
                <a title="twitter" href="https://twitter.com/softechure"><i class="fa-brands fa-twitter white-color"></i></a>
              </li>
              <li>
                <a title="pinterest" href="https://in.pinterest.com/softechure"><i class="fa-brands fa-pinterest white-color"></i></a>
              </li>
              <li>
                <a title="linkedin" href="https://www.linkedin.com/in/softechure/"><i class="fa-brands fa-linkedin white-color"></i></a>
              </li>
            </ul>
            <a href="mailto:info@softechure.com" class="footer_email mb-4"><i class="fa fa-envelope"></i> &nbsp; info@softechure.com</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Copyright - Bootstrap Brain Component -->
  <div class="py-3 border-top">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="copyright text-center">&copy; {{ current_year }} Softechure IT Services. All Rights Reserved.</div>
        </div>
      </div>
    </div>
  </div>
</footer>
