body {
    font-family: Poppins, sans-serif;
    background-color: #f0f0f0;
}

h1,
h2 {
    color: #0f3d4a;

    margin-bottom: 20px;
    font-weight: 700;
}

p {
    text-align: justify;
    line-height: 32px;
    font-size: larger;
    font-weight: 400;
    color: #47474f;
}

.url_form {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.download_form {
    margin: 10px auto;
}

input[type='text'],
input[type='radio'] {
    padding: 10px;
    margin: 1px;
}

button[type='submit'] {
    background: linear-gradient(45deg, #1c718a -10%, #103d4a 50.71%);
    color: #fff;
    padding: 13px 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

button[type='submit']:hover {
    background-color: #3e8396;
}

.format-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.format-list li {
    margin-bottom: 10px;
}

#get_formats {
    text-align: center;
}

.sits_pdf_logo img {
    height: 33px;
    width: 209px;
}

footer {
    background: linear-gradient(45deg, #1c718a -10%, #103d4a 50.71%);
    color: #fff;
}

footer ul li a {
    color: var(--dark);
    text-decoration: none;
    font-weight: 500;
}

footer ul li a:hover {
    color: #b7b9bc;
}

a {
    color: var(--dark);
    text-decoration: none;
}

a:hover {
    color: #b7b9bc;
}

.banner {
    background: linear-gradient(45deg, #1c718a -10%, #103d4a 50.71%);
}

.sits_pdf_bannerrr {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

strong {
    color: chocolate;
}

.logo {
    width: 12rem;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.logo img {
    width: 70%;
    height: 70%;
    object-fit: contain;
}

.bannerd {
    display: flex;
    opacity: .8;
}

.social-icon-image {
    width: 30px;
    height: 30px;
}

.social-icon-image-index {
    width: 30px;
    height: 30px;
}

.dark-bg {
    background: linear-gradient(45deg, #1c718a -10%, #103d4a 50.71%);
}

.main-heading {
    font-weight: 700;
    font-size: 40px;
}

.playstore-img {
    display: flex;
    gap: 20px;
}

span {
    color: orange;
}

.accordion {
    width: 50%;
}

.accordion-item {
    background-color: rgb(200 232 247);
    margin-bottom: 10px;
    border: none;
}

.accordian-section {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.accordion-button {
    background: linear-gradient(45deg, #1c718a -10%, #103d4a 50.71%);
    color: #fff;
    border-radius: 5px;
}

.accordion-button::after {
    background-image: url("/static/images/down_arrow.svg");
}

.p-faq {
    color: #fff;
    margin: 0%;
    font-size: unset;
    line-height: 20px;
    padding: 1px 10px;
}

.url_form {
    max-width: unset;
}

.url_input {
    width: 50%;
    border: 3px solid #103d4a;
    background: transparent;
}

.supported-res {
    padding: 12px;
}

.supported-res a p {
    margin: 0px;
    color: #103d4a;
    font-size: unset;
    font-weight: bold;
}

.supported-res a {
    display: flex;
    border-radius: 5px;
    padding: 7px 7px;
    background-color: #fff;
    gap: 10px;
    justify-content: center;
}

.individual-res {
    justify-content: center;
}

.individual-res div div {
    padding: 12px;
    text-align: -webkit-center;
}

.individual-res div div a {
    display: flex;
    gap: 10px;
    justify-content: center;
    background: #000000c7;
    padding: 7px 25px;
    border-radius: 5px;
    width: 215px;
}

.individual-res div div p {
    margin: 0%;
    color: #ffffffe5;
    font-size: unset;
    font-weight: bold;
}

.insta-bg a {
    background: linear-gradient(45deg, #ffffffb5 -10%, #5d5d5de6 50.71%) !important;
}

.format_download {
    padding: 7px 18px !important;
    background: #103d4a !important;
}

.sits_email {
    font-weight: 700 !important;
    font-family: system-ui;
    font-size: larger;
}

.navbar-light .navbar-nav .nav-link {
    color: #103d4a;
    font-weight: bold;
}

.format-select {
    background: #103d4a;
    padding: 2px;
}

.format-select select {
    padding: 10px;
}

.format-select select.decorated option:hover {
    box-shadow: 0 0 10px 100px #1882A8 inset;
    background: #103d4a;
}

.format-select select:focus-visible {
    outline: none;
}

.url_input:focus-visible {
    outline: none;
}

.mp4-option {
    background-color: #f0f0f0;
    font-weight: bold;
}



.format-select {
    position: relative;
    font-family: Arial;
}

.format-select select {
    display: none;
    /*hide original SELECT element:*/
}

.select-selected {
    background-color: #f0f0f0;
}

/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 17px;
    right: 17px;
    width: 0;
    height: 0;
    border: 9px solid transparent;
    border-color: #103d4a transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #103d4a transparent;
    top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
    color: black;
    padding: 8px 16px;
    border: .5px solid #103d4a;
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/
.select-items {
    position: absolute;
    background-color: #f0f0f0;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border: 2px solid #103d4a;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: #103d4a;
    color: #f0f0f0 !important;
}

.preview-border {
    border: 3px solid #103d4a;
    border-left: unset;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 991px) {
    .accordion {
        width: 75%;
    }
}

@media screen and (max-width: 767px) {
    .accordion {
        width: 95%;
    }

    .individual-res div div a {
        width: auto;
    }

    .preview-border {
        border: 3px solid #103d4a;
        border-top: unset;
    }
}

@media screen and (max-width: 434px) {
    .fa-download {
        display: none;
    }

    .select-selected:after {
        position: absolute;
        content: "";
        top: 17px;
        border: 5px solid transparent;
        right: 10px;
        width: 0;
        height: 0;
        border-color: #103d4a transparent transparent transparent;  
    }
}

.title-para {
    font-size: larger !important;
}

.format_download_cont{
    height: 100%;
}
.format_download_cont img{
    height: 100%;
    width: -webkit-fill-available;
}
.steps-download{
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    color: #fff;
}
.steps-description{
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
}
.steps-cont{
    background: linear-gradient(45deg, #1c718a -10%, #103d4a 50.71%);
}
.steps-cont div div div div img{
    opacity: 0.9;
}